@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "black";
  default: true;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

html,
body {
  height: 100%;
}

@utility bg-genz-star {
  background-image: url("/genz-star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility pb-dock-height {
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));
}
